<section>
  <input
    adaptivePosition="true"
    class="form-control"
    [placeholder]="btnNamePlaceholder"
    [(ngModel)]="btnName"
  >
  <input
    adaptivePosition="true"
    class="form-control"
    [placeholder]="commandPlaceholder"
    [(ngModel)]="userCommand"
  >
  <span
    class="alert"
    [ngClass]="{'fail' : !isSucceed, 'succeed' : isSucceed}"
  >{{alert}}</span>
  <div class="btn-wrapper">
      <button
      type="button"
      class="btn btn-primary"
      [disabled]="!userCommand && !btnName"
      (click)="onClick()"
    >
      Create Button
    </button>
  </div>
</section>
