:host {
  width: 100%;
  height: 20%;

  section {
    height: 100%;
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    input {
      margin-top: 5px;

      &:first-of-type {
        width: 22%;
      }

      &:last-of-type {
        width: 75%;
      }
    }

    .btn-wrapper {
      width: 15%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      button {
        margin: 5px;
      }
    }

    .alert {
      display: inline-block;
      width: 50%;
      right: 10px;
      margin: 0;
      padding: 0;
    }

    .fail {
      color: red;
    }

    .succeed {
      color: green;
    }
  }
}
