:host {
  width: 40%;
  height: 80%;
  box-sizing: border-box;
  border-right: 1px solid black;

  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    overflow: auto;

    .control-wrapper {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn-group {
      margin: 5px;
    }
  }
}
