<section>
  <div class="control-wrapper">
      <button
      type="button"
      class="btn btn-warning"
      (click)="deleteCashedButtons()"
    >
      Delete cashed buttons
    </button>
  </div>
  <div
    class="btn-group"
    *ngFor="let button of buttons"
  >
    <label
      class="btn btn-primary"
      btnRadio="Left"
      role="button"
      (click)="onClick(button.command)"
      >{{button.name}}</label>
    <label
      class="btn btn-warning"
      btnRadio="Right"
      role="button"
      (click)="deleteBtn(button)"
    >X</label>
  </div>
</section>
